# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc
out
**/dist/*
**/build/*
packages/*/dist/**

# dependencies
node_modules
**/node_modules/**

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
/typings
*.tsbuildinfo

# System Files
.DS_Store
Thumbs.db

.turbo

.yalc
yalc.lock

# Examples & Playground apps dependency locks
packages/*/examples/*/package-lock.json
packages/*/examples/*/yarn.lock
packages/*/examples/*/pnpm-lock.yaml
packages/*/examples/*/bun.lock

# Workflow Outputs
/packages/*/*.tgz
/packages/*/tsconfig.test.vitest-temp.json